name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/autobixpe:latest
            ${{ secrets.DOCKER_USERNAME }}/autobixpe:${{ github.ref_name }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/autobixpe:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/autobixpe:buildcache,mode=max
